.tab {
	display: none;
	position: fixed;
	z-index: 11000;
	right: 20px;
	top: 45px;
	width: 25px;
	height: 20px;
}

.tab.open {
	display: block;
	right: 42%;
}
.tab span {
	position: absolute;
	right: 0;
	top: 0;
	height: 2px;
	background-color: #fff;
}
.tab span:nth-child(1) {
	width: 25px;
}
.tab span:nth-child(2) {
	top: 8px;
	width: 25px;
}
.tab span:nth-child(3) {
	top: 16px;
	width: 25px;
}
.tab.open span:nth-child(1) {
	top: 7px;
	width: 30px;
	transform: rotate(45deg);
}
.tab.open span:nth-child(2) {
	display: none;
}
.tab.open span:nth-child(3) {
	top: 7px;
	width: 30px;
	transform: rotate(-45deg);
}
#tab_menu {
	display: none;
	position: fixed;
	z-index: 10100;
	top: 0;
	right: 0;
	width: 40%;
	/* min-width: 250px; */
	height: 100vh;
	background-color: #fff;
}
#tab_menu.open {
	display: block;
}
#tab_menu .tab_inner {
	padding: 30px 5%;
}
#tab_menu li a {
	display: block;
	padding: 0 10px;
	line-height: 60px;
	color: #5e3d98;
	border-bottom: 1px solid #eaeaea;
	transition: background-color 0.3s;
}
#tab_menu li a:hover {
	color: #fff;
	background-color: #603d99;
}
@media screen and (max-width: 720px) {
	.tab {
		display: block;
	}
}
@media screen and (max-width: 570px) {
	#tab_menu {
		min-width: 230px;
	}
	.tab.open {
		right: 240px;
	}
}