@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}
body.fixed {
	overflow-y: hidden;
}
.dimmed.fixed {
	position: fixed;
	z-index: 10010;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.inner {
	max-width: 940px;
	margin: 0 auto;
}
.nav_button {
	position: fixed;
	right: 50px;
	bottom: 50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #0e679b;
}
.nav_button::after {
	position: absolute;
	content: "";
	left: 18px;
	top: 20px;
	width: 13px;
	height: 13px;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	transform: rotate(-45deg);
}
@media screen and (max-width: 720px) {
	.nav_button {
		right: 20px;
		bottom: 20px;
	}
}
#header {
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 50%;
	width: 100%;
	height: 70px;
	transform: translateX(-50%);
	background-color: transparent;
}
#header.down {
	position: fixed;
	background-color: #7785acbd;
}
#header .logo {
	float: left;
	padding-top: 15px;
	width: 120px;
}
#header .logo img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#gnb {
	float: right;
}
#gnb li {
	position: relative;
	display: inline-block;
	margin: 0 15px;
}
#gnb li::after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 10px;
	background-color: #2077aa;
	width: 0;
	height: 2px;
	transition: width 0.3s;
}
#gnb li.on::after {
	width: 100%;
}
#gnb li a {
	display: block;
	font-size: 15px;
	color: #fff;
	line-height: 70px;
	transition: color 0.3s;
}
#gnb li.on a,
#gnb li:hover a {
	color: #1d5575;
}
.main_visual {
	position: relative;
	width: 100%;
	height: 700px;
}
.main_visual img {
	width: 100%;
	height: 700px;
	object-fit: cover;
}
.main_visual .main_txt {
	position: absolute;
	left: 20%;
	top: calc(50% + 100px);
	opacity: 0;
	transform: translateY(-50%);
	text-align: left;	
}
.main_visual.active .main_txt {
	opacity: 1;
	top: 50%;
	transition: top 0.8s, opacity 1.5s;
	transition-timing-function: ease-in-out;
}
.main_visual .main_txt p {
	font-size: 2.188em;  /*35px*/
	color: #fff;
}
.main_visual .main_txt h2 {
	padding-top: 65px;
	font-size: 2.625em;  /*42px*/
	font-weight: 600;
	line-height: 1.5;
	color: #fff;
	letter-spacing: 2px;
}
.main_visual .main_txt .top_btn {
	padding-top: 50px;
}
.main_visual .main_txt .top_btn button {
	padding: 15px 90px;
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
}
@media screen and (max-width: 1050px){
	#header {
		font-size: 13px;	
	}
	#header .inner {
		width: 100%;
	}
	#gnb li:last-child {
		margin-right: 0;
	}
	.main_visual {
		font-size: 13px;	
	}
}
@media screen and (max-width: 940px) {
	#header {
		font-size: 10px;	
	}
	.main_visual {
		font-size: 10px;	
	}
}
@media screen and (max-width: 720px) {
	#header {
		font-size: 8px;
	}
	#header {
		position: absolute;
		z-index: 10000;
		top: 0;
		left: 50%;
		width: 100%;
		height: 100px;
		transform: translateX(-50%);
		background-color: transparent;
	}
	#header .logo {
		padding: 40px 0 0 20px;
	}
	#gnb {
		display: none;
	}
	.main_visual {
		font-size: 8px;	
	}
	.main_visual .main_txt .top_btn button {
		padding: 12px 80px;
	}
}
@media screen and (max-width: 560px) {
	#header {
		font-size: 6px;
	}
	.main_visual {
		font-size: 6px;	
	}
	.main_visual .main_txt .top_btn button {
		padding: 10px 70px;
	}
}
/**------  #header .tab --------------------------------------    #header .tab  -- **/
.tab {
	display: none;
	position: fixed;
	z-index: 11000;
	right: 20px;
	top: 45px;
	width: 25px;
	height: 20px;
}
.tab.active {
	/* display: block; */
}
.tab.open {
	display: block;
	right: 42%;
}
.tab span {
	position: absolute;
	right: 0;
	top: 0;
	height: 2px;
	background-color: #fff;
}
.tab span:nth-child(1) {
	width: 25px;
}
.tab span:nth-child(2) {
	top: 8px;
	width: 25px;
}
.tab span:nth-child(3) {
	top: 16px;
	width: 25px;
}
.tab.open span:nth-child(1) {
	top: 7px;
	width: 30px;
	transform: rotate(45deg);
}
.tab.open span:nth-child(2) {
	display: none;
}
.tab.open span:nth-child(3) {
	top: 7px;
	width: 30px;
	transform: rotate(-45deg);
}
#tab_menu {
	display: none;
	position: fixed;
	z-index: 10100;
	top: 0;
	right: 0;
	width: 40%;
	/* min-width: 250px; */
	height: 100vh;
	background-color: #fff;
}
#tab_menu.open {
	display: block;
}
#tab_menu .tab_inner {
	padding: 30px 5%;
}
#tab_menu li a {
	display: block;
	padding: 0 10px;
	line-height: 60px;
	color: #5e3d98;
	border-bottom: 1px solid #eaeaea;
	transition: background-color 0.3s;
}
#tab_menu li a:hover {
	color: #fff;
	background-color: #603d99;
}
@media screen and (max-width: 720px) {
	.tab {
		display: block;
	}
}
@media screen and (max-width: 570px) {
	#tab_menu {
		min-width: 230px;
	}
	.tab.open {
		right: 240px;
	}
}
/***   section title 공통  --------------------------------------------------------*****/
section[id^=contents] .title {
	text-align: center;
	color: #0e679b;
}
section[id^=contents] .title  h3 {
	font-size: 1.875em;  /*30px*/
}
section[id^=contents] .title  span {
	display: block;
	padding-top: 22px;
	color: #797874;
	font-size: 0.938em;  /*15px*/
	line-height: 1.5;
}
/**------  #contents1 --------------------------------------    #contents1  -- **/
#contents1 {
	background-color: #fff;
}
#contents1 .title {
	padding-top: 110px; 
}
#contents1 .content ul {
	display: flex;
	padding: 100px 0 120px 0;
}
#contents1 .content li {
	width: calc(100% / 3);
	text-align: center;
	transform: translateX(-100%);
	opacity: 0;	
}
#contents1.active .content li {
	width: calc(100% / 3);
	text-align: center;
	transform: translateX(0);
	opacity: 1;
	transition: transform 1s, opacity 1.5s;
	transition-timing-function: ease-in-out;
}
#contents1.active .content li:nth-child(2){
	transition-delay: 0.5s;
}
#contents1.active .content li:nth-child(1){
	transition-delay: 1s;
}
#contents1 .content .cr_img img {
	width: 60px;
	height: 60px;
	padding: 5px;
	border-radius: 50%;
	border: 2px solid #0ca0f7;
}
#contents1 .content .con_txt {
	padding-top: 30px;
}
#contents1 .content .con_txt p {
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0.5px;
}
#contents1 .content .con_txt span {
	display: block;
	padding-top: 30px;
	color: #797874;
	line-height: 1.5;
	font-size: 0.875em;  /*14px*/
}
@media screen and (max-width: 940px) {
	#contents1 .content ul {
		flex-direction: column;
		align-items: center;
	}
	#contents1 .content li {
		padding-bottom: 40px;
	}
	#contents1.active .content li:nth-child(1){
		transition-delay: 0.1s;
    }
	#contents1.active .content li:nth-child(2){
		transition-delay: 0.5s;
	}
	#contents1.active .content li:nth-child(3){
		transition-delay: 1s;
	}
}
@media screen and (max-width: 720px) {
	#contents1 {
		font-size: 15px;
	}
}
@media screen and (max-width: 460px) {
	#contents1 {
		font-size: 14px;
	}
	#contents1 .content ul {
		display: flex;
		padding: 50px 0 100px 0;
	}
}
/**------  #contents2 --------------------------------------    #contents2  -- **/
#contents2 {
	padding: 110px 0;
	background-color: #f7f7f7;
}

#contents2 .content {
	padding-top: 80px;
	font-size: 0;
}
#contents2 .content li {
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 40px;
	text-align: center;
	width: calc((100% - 70px)/3);
	background-color: #fff;
	font-size: 16px;
	opacity: 0;
	transform: translateY(100px);
	transition: transform 0.5s, opacity 1s;
}
#contents2.active .content li {
	opacity: 1;
	transform: translateY(0);	
}
#contents2.active .content li:nth-child(2){
	transition-delay: 0.4s;
}
#contents2.active .content li:nth-child(3){
	transition-delay: 0.8s;
}
#contents2.active .content li:nth-child(4){
	transition-delay: 1.2s;
}
#contents2.active .content li:nth-child(5){
	transition-delay: 1.6s;
}
#contents2.active .content li:nth-child(6){
	transition-delay: 2s;
}
#contents2 .content li:nth-child(3n) {
	margin-right: 0;
}
#contents2 .content li a {
	display: block;
}
#contents2 .content li a .card_img {
	overflow: hidden;
}
#contents2 .content li a .card_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1);
	transition: transform 0.3s;
}
#contents2 .content li a:hover .card_img img {
	transform: scale(1.2);
}
#contents2 .content li .txt {
	padding: 20px 0;
}
#contents2 .content li .txt p {
	font-size: 1em;
	padding-top: 5px;
	font-weight: bold;
}
#contents2 .content li .txt span {
	display: block;
	padding-top: 10px;
	color: #797874;
	font-size: 0.875em;  /*14px*/
}

@media screen and (max-width: 720px) {
	#contents2 {
		font-size: 15px;
	}
	#contents2 .content li {
		width: calc((100% - 30px)/2);
	}
	#contents2 .content li:nth-child(3n) {
		margin-right: 30px;
	}
	#contents2 .content li:nth-child(2n) {
		margin-right: 0;
	}
}
@media screen and (max-width: 460px) {
	#contents2 {
		font-size: 14px;
	}
	#contents2 .content li {
		display: block;
		width: calc(100% - 150px);
		margin: 0 75px 45px 75px;		
	}
}
/**------  #contents3 --------------------------------------    #contents3  -- **/
#contents3 {
	padding: 130px 0 180px 0;
	text-align: center;
}
#contents3 .content {
	position: relative;
	margin-top: 60px;
}
#contents3 .content::after {
	position: absolute;
	z-index: -1;
	content: "";
	left: 50%;
	top: 0;
	width: 3px;
	height: 100%;
	background-color: #f1f1f1;
}
#contents3 .content li {
	position: relative;
	padding-bottom: 90px;
	opacity: 0;
	transition: transform 1.2s, opacity 1.5s;
	transition-timing-function: ease-in-out;
}
#contents3 .content li:nth-child(2n+1) {
	transform: translateX(-200px);
}
#contents3 .content li:nth-child(2n) {
	transform: translateX(200px);
}
#contents3.active .content li {
	opacity: 1;
	transform: translateX(0);
}
#contents3 .content li:last-child {
	padding-bottom: 0px;
}
#contents3 .content li .circle_img img {
	width: 180px;
	height: 180px;
	padding: 5px;
	border-radius: 50%;
	background-color: #f1f1f1;
}
#contents3 .content li .txt {
	position: absolute;
	padding: 20px 0 20px 10px;
	top: 0;
}
#contents3 .content li .txt p {
	font-weight: bold;
	line-height: 1.5;
}
#contents3 .content li .txt span {
	display: block;
	padding-top: 15px;
	color: #797874;
	line-height: 1.5;
	font-size: 0.875em;  /*14px*/
}
#contents3 .content li:nth-child(2n) .txt {
	text-align: left;
	right: 20px;
}
#contents3 .content li:nth-child(2n+1) .txt {
	text-align: right;
	left: 20px;
}
@media screen and (max-width: 940px) {
	#contents3 {
		padding: 130px 45px 180px 45px;
		text-align: left;
	}
	#contents3 .content::after {
		left: 100px;
	}
	#contents3 .content li .txt {
		position: absolute;
		top: 30px;
	}
	#contents3 .content li:nth-child(2n) .txt {
		text-align: left;
		right: auto;
		left: 200px;
	}
	#contents3 .content li:nth-child(2n+1) .txt {
		text-align: left;
		left: 200px;
	}
	#contents3 .content li .txt span br {
		display: none;
	}
}
@media screen and (max-width: 720px) {
	#contents3 {
		font-size: 15px;
	}
}
@media screen and (max-width: 560px) {
	#contents3 .inner .title span br {
		display: none;
	}	
}
@media screen and (max-width: 460px) {
	#contents3 {
		font-size: 14px;
		padding: 100px 30px 150px 30px;
	}
	#contents3 .content::after {
		left: 22%;
	}
	#contents3 .content li .circle_img {
		width: calc((100% - 60px)/2);
	}
	#contents3 .content li .circle_img img {
		width: 100%;
		height: 100%;
		padding: 5px;
		border-radius: 50%;
		background-color: #f1f1f1;
	}
	#contents3 .content li .txt {
		top: 17%;
	}
	#contents3 .content li:nth-child(2n) .txt {
		left: 45%;
	}
	#contents3 .content li:nth-child(2n+1) .txt {
		left: 45%;
	}
	#contents3 .content li .txt span {
		display: none;
	}
}
/**------  #contents4 --------------------------------------    #contents4  -- **/
#contents4 {
	padding: 130px 60px 50px 60px;
	background-color: #f9f9f9;
}
#contents4 .title {
	padding-bottom: 80px;
}
#contents4 .content ul {
	display: flex;
}
#contents4 .content li {
	width: calc(100% / 3);
	text-align: center;
	opacity: 0;
	transform: translateY(200px);
	transition: transform 0.8s, opacity 1s;
}
#contents4.active .content li {
	opacity: 1;
	transform: translateY(0);	
	transition-timing-function: ease-in-out;
}
#contents4.active .content li:nth-child(2){
	transition-delay: 0.5s;
}
#contents4.active .content li:nth-child(3){
	transition-delay: 1s;
}
#contents4 .content li .cr_img {
	display: inline-block;
}
#contents4 .content li .cr_img img {
	display: block;
	padding: 5px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	background-color: #fff;
	box-sizing: border-box;
}
#contents4 .content li .txt {
	padding: 30px 0;
	box-sizing: border-box;
}
#contents4 .content li .txt p {
	font-size: 1em;
	font-weight: 500;
}
#contents4 .content li .txt span {
	display: block;
	padding-top: 5px;
	color: #797874;
	line-height: 1.8;
	font-size: 0.875em;  /*14px*/
}
@media screen and (max-width: 940px) {
	#contents4 .content li {
		margin-left: 45px;
		width: calc((100% - 200px)/3);
	}
}
@media screen and (max-width: 720px) {
	#contents4 {
		font-size: 15px;
	}
	#contents4 .content ul {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#contents4 .content li {
		width: 100%;
		text-align: center;
		margin-left: 0;
		padding-bottom: 20px;
	}
	#contents4 .content li .txt {
		padding-top: 20px;
	}
}
@media screen and (max-width: 460px) {
	#contents4 {
		font-size: 14px;
	}
}
/**------  #contents5 --------------------------------------    #contents5  -- **/
#contents5 {
	padding: 50px 0;
	background-color: #fff;
	font-size: 0;
}
#contents5 .list li {
	display: inline-block;
	width: calc(100% / 7);
}
#contents5 .list li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media screen and (max-width: 940px) {
	#contents5 {
		padding: 0;
	}
	#contents5 .list li {
		width: calc(100% / 4);
	}
	#contents5 .list li:nth-child(5) {
		margin-left: calc((100% / 4)/2);
	}
	#contents5 .list li img {
		padding: 40px;
		box-sizing: border-box;
	}
}
@media screen and (max-width: 720px) {
	#contents5 .list li {
		width: calc(100% / 2);
	}
	#contents5 .list li:nth-child(5) {
		margin-left: 0;
	}
	#contents5 .list li img {
		padding: 50px;
	}
}
@media screen and (max-width: 460px) {
	#contents5 {
		display: none;
	}
}
/**------  #footer --------------------------------------    #footer  -- **/
#footer .ft_top {
	width: 100%;
	object-fit: cover;
	background: url(../images/contact_background.jpg) no-repeat;
	background-size: cover;
}
#footer .ft_top .inner {
	padding-bottom: 80px;
}
#footer .title {
	padding: 110px 0 75px 0;
	text-align: center;
}
#footer .title  h3 {
	color: #fff;
	font-size: 1.875em;  /*30px*/
}
#footer .title  span {
	display: block;
	padding-top: 22px;
	font-weight: 300;
	color: #fff;
	font-size: 0.938em;  /*15px*/
}
input {
	font-family: 'Roboto', sans-serif;
	padding-left: 10px;
	margin-bottom: 30px;
	width: 100%;
	height: 50px;
	font-size: 0.875em;
	font-weight: bold;
	border-radius: 5px;
	box-sizing: border-box;
}
input.subject {
	margin-bottom: 0;
}
input::placeholder {
	color: #bbb;
}
textarea {
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	width: calc((100% - 30px)/2);
	border-radius: 5px;
	box-sizing: border-box;
}
textarea::placeholder {
	padding: 10px;
	color: #bbb;
	font-size: 1em;
	font-weight: bold;
}
#footer textarea {
	opacity: 0;
	transform: translateY(-100px);
	transition: transform 0.9s, opacity 1.2s;
	transition-timing-function: ease-in-out;
}
#footer.active textarea {
	opacity: 1;
	transform: translateY(0);
	transition-delay: 1.5s;
}
#footer .contact_list {
	display: flex;
	padding-bottom: 50px;
}
#footer .contact_list .contact_top {
	width: calc((100% - 30px)/2);
}
#footer .contact_list .contact_top p {
	margin-right: 30px;
	opacity: 0;
	transform: translateY(-100px);
	transition: transform 0.9s, opacity 1.2s;
	transition-timing-function: ease-in-out;
}
#footer.active .contact_list .contact_top p {
	opacity: 1;
	transform: translateY(0);
}
#footer.active .contact_list .contact_top p:nth-child(2) {
	transition-delay: 0.5s;
}
#footer.active .contact_list .contact_top p:nth-child(3) {
	transition-delay: 1s;
}
#footer .ft_top .ft_btn {
	text-align: center;
	opacity: 0;
	transform: translateY(-100px);
	transition: transform 0.9s, opacity 1.2s;
	transition-timing-function: ease-in-out;
}
#footer.active .ft_top .ft_btn {
	opacity: 1;
	transform: translateY(0);
	transition-delay: 2s;
}
#footer .ft_top .ft_btn .button {
	width: 240px;
	height: 65px;
	padding: 20px 60px;
	background-color: #0e679b;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
#footer .ft_bottom {
	padding: 25px 0;
	background-color: #fff;
}
#footer .ft_bottom .inner {
	display: flex;
}
#footer .ft_bottom .corp_list {
	width: 70%;
}
#footer .ft_bottom .sns {
	width: 30%;
}
#footer .ft_bottom .corp_list li {
	display: inline-block;
	padding-right: 10px;
}
#footer .ft_bottom .corp_list li span {
	display: block;
	color: #555;
	font-size: 0.875em;
	font-weight: 500;
	line-height: 1.5;
}
#footer .ft_bottom .corp_list .copyright {
	padding-top: 10px;
	color: #555;
	font-size: 0.875em;
	font-weight: 500;
	line-height: 1.5;
}
#footer .ft_bottom .sns {
	font-size: 0;
}
#footer .ft_bottom .sns li {
	display: inline-block;
	padding: 15px 5px;
	font-size: 18px;
}
#footer .ft_bottom .sns li a {
	display: block;
}
@media screen and (max-width: 940px) {
	#footer .contact_list {
		display: block;
		padding: 0 50px;
		padding-bottom: 30px;
	}
	#footer .contact_list .contact_top {
		width: 100%;
	}
	#footer .contact_list .contact_top p {
		margin-right: 0;
	}
	textarea {
		margin-top: 30px;
		width: 100%;
		height: 180px;
	}
	#footer .ft_bottom {
		padding: 30px 10px;
		font-size: 14px;
	}
	#footer .ft_bottom .inner {
		justify-content: space-between;
	}
}
@media screen and (max-width: 720px) {
	#footer .ft_bottom .inner {
		display: block;
	}
	#footer .ft_bottom .corp_list {
		width: 80%;
	}
	#footer .ft_bottom .sns {
		padding-top: 15px;
		width: 100%;
	}
}
@media screen and (max-width: 460px) {
	#footer .ft_bottom {
		padding: 20px 10px;
		text-align: center;
	}
	#footer .ft_bottom .corp_list {
		width: 100%;
	}
	#footer .ft_bottom .sns {
		width: 100%;
	}
}

